[submodule "github-abc"]
	path = github-abc
	url = https://github.com/SystemAdmin12345/abc
[submodule "gitlab-abc"]
	path = gitlab-abc
	url = https://gitlab.com/randoritos/abc
[submodule "bitbucket-abc"]
	path = bitbucket-abc
	url = https://bitbucket.org/abcrandomstuff/abc/src/primary/
